<%= form_for(@course_type) do |f| %>

  <h1 class="field">
    <%= @course_type.title %>
  </h1>
	
	Dansk <%= @course_type.title(:da) %>
	English <%= @course_type.title(:en) %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
