<h1>Listing course types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Dansk</th>
    <th>English</th>
		<th colspan="3">Admin</th>
  </tr>

<% @course_types.each do |course_type| %>
  <tr>
    <td><%= course_type.title %></td>
		<td><%= course_type.title(:da) %></td>
		<td><%= course_type.title(:en) %></td>
    <td><%= link_to 'Show', course_type %></td>
    <td><%= link_to 'Edit', edit_course_type_path(course_type) %></td>
    <td><%= link_to 'Destroy', course_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course Type', new_course_type_path %>
