<h1><%= @course_type.title %></h1>
<p>
	Dansk:
	<% I18n.locale = :da %><%= @course_type.title %>
</p>
	
<p>
	English:
	<% I18n.locale = :en %><%= @course_type.title %>
</p>

<%= link_to 'Edit', edit_course_type_path(@course_type) %>
<%= link_to 'Destroy', @course_type, confirm: 'Are you sure?', method: :delete %>