<h1><%= @course_type.title %></h1>
<p>
	Dansk:
	<%= @course_type.title(:da) %>
</p>
	
<p>
	English:
	<%= @course_type.title(:en) %>
</p>

<%= link_to 'Edit', edit_course_type_path(@course_type) %>
<%= link_to 'Destroy', @course_type, confirm: 'Are you sure?', method: :delete %>