<%= simple_form_for @student, :style => 'display:none', :url => sessions_path, method: "POST" do |f| %>
	<% flash[:alerts].each do |error| %>
		<div class="error"><%= error %></div>
	<% end if flash[:alerts] %>
	<%= f.input :student_number, :label => 'DTU Login', :tabindex => 2 %>
	<%= f.input :password, :label => t('login.password') %>
	<p class="buttons"><%= f.button :submit, t('login.login') %> <%= t('or') %> <a class="cancel" href="javascript://"><%= t('cancel') %></a></p>
<% end %>