<h1>Log ind</h1>

<%= simple_form_for @student, :url => sessions_path do |f| %>
	<%= puts @student.errors.to_yaml %>
	<%= f.error_notification %>
	<%= f.error :base %>
	
	<%= f.input :student_number %>
	<%= f.input :password %>
	
	<%= f.button :submit, "Log in" %>

<% end %>