<h1><%= t('login.login') %></h1>

<div id="login">
	<%= render "login_form" %>
	<div id="promo">
		<h2><%= t('login.promo') %></h2>
		<p><%= t('login.intro') %>:</p>
		<ul>
			<li><%= t('login.reason1') %></li>
			<li><%= t('login.reason2') %></li>
			<li><%= t('login.reason3') %></li>
		</ul>
		<p>&#8230;<%= t('login.outro') %></p>
	</div>
</div>