<h1><%= t('.welcome') %> <%= @student.fullname %>, <%= t('.hereisyour') %>:</h1>
<table id="schedule">
	<thead>
		<tr>
			<th scope="col" title="<%= t('days.mon') %>">M</th>
			<th scope="col" title="<%= t('days.tue') %>">T</th>
			<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
			<th scope="col" title="<%= t('days.thu') %>">T</th>
			<th scope="col" title="<%= t('days.fri') %>">F</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= student_schedule_table_cell('1A') %>
			<%= student_schedule_table_cell('3A') %>
			<%= student_schedule_table_cell('5A') %>
			<%= student_schedule_table_cell('2B') %>
			<%= student_schedule_table_cell('4B') %>
		</tr>
		<tr>
			<%= student_schedule_table_cell('2A') %>
			<%= student_schedule_table_cell('4A') %>
			<%= student_schedule_table_cell('5B') %>
			<%= student_schedule_table_cell('1B') %>
			<%= student_schedule_table_cell('3B') %>
		</tr>
	</tbody>
</table>

<p>Dine kurser: </p>
<%#= "is project course: #{Course.find_by_course_number(02122).is_project_course(@student)}" %>
<% if @student.field_of_study.nil? %>
<% @student.courses.each do |c| %>
	<% if c.is_basic_course(@student) %>
		<p style="color: red">
	<% elsif c.is_main_course(@student) %>
		<p style="color: blue">
	<% elsif c.is_project_course(@student) %>
		<p style="color: yellow">
	<% else %>
		<p style="color: gray">
	<% end %>
	<%= "#{c.course_no} - #{c.title}" %></p>
<% end %>
<% else %>
<p><%= @student.courses.map(&:title).join("</p><p>").html_safe %></p>
<% end %>