<h1 id="intro"><%= t('.welcome') %> <strong><%= @student.fullname %></strong>, <%= t('.hereisyour') %>:</h1>
<table class="schedule yourschedule hyphenate">
	<thead>
		<tr>
			<th scope="col" title="<%= t('days.mon') %>">M</th>
			<th scope="col" title="<%= t('days.tue') %>">T</th>
			<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
			<th scope="col" title="<%= t('days.thu') %>">T</th>
			<th scope="col" title="<%= t('days.fri') %>">F</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= student_schedule_table_cell '1A' %>
			<%= student_schedule_table_cell '3A' %>
			<%= student_schedule_table_cell '5A' %>
			<%= student_schedule_table_cell '2B' %>
			<%= student_schedule_table_cell '4B' %>
		</tr>
		<tr>
			<%= student_schedule_table_cell '2A' %>
			<%= student_schedule_table_cell '4A' %>
			<%= student_schedule_table_cell '5B' %>
			<%= student_schedule_table_cell '1B' %>
			<%= student_schedule_table_cell '3B' %>
		</tr>
	</tbody>
</table>

<p id="uninotice"><%= t('.see') %> <a href="/studyplan"><%= t('.yourplan') %></a> <%= t('.inorderto') %></p>
