<%
	title t('.studyplan')	
%>
<h1><%= t('.studyplan') %></h1>
<% if not current_student.nil? %>
	<p><%= t('.intro1') %> 
		<% selected = params[:semester].nil? ? "All semesters" : "#{params[:semester]}. semester" %>
		<%= select_tag "semester", options_for_select(semester_select_options, :selected => selected) %>
		<%= t('.intro2') %>:
	</p>
	<h2>Kursuskurv</h2>
	<%= simple_form_for(StudyplanItem.new) do |f| %>
		<%= text_field_tag :search, params[:search], :tabindex => 1, :placeholder => t('splaceholder') %>
		<%= f.button :submit %>
	<% end %>
	
	<ul>
	<% @course_basket.each do |s| %>
		<li>
		<%= link_to "#{s.course.course_no} #{s.course.title} - #{s.course.schedule}", s.course%> 
		<%= link_to 'Delete', s, confirm: "Are you sure you want to remove #{s.course.title} from your Kursuskurv?" , method: :delete, :style => ['color: red'] %> 
		<%= simple_form_for(s) do |f| %>
			<%= f.input :semester, :collection => studyplan_select_options(s.course), :prompt => "Add to semester", :input_html => { :onchange => "this.form.submit()" }, :label => false%>
		<% end %>
		
		</li>
	<% end %>
</ul>
<% @studyplans.each_with_index do |studyplan, i| %>
<% 
		semester = params[:semester].nil? ? @max_semester - i : @semester
		season   = semester % 2 == 0 ? t('seasons.spring') : t('seasons.autumn')
		week3		 = semester % 2 == 0 ? t('months.jun') : t('months.jan')
%>
	<h2><%= semester%>. semester <em class="subtle">(<%= season %>)</em></h2>
	<table class="schedule yourschedule hyphenate">
		<thead>
			<tr>
				<th scope="col" title="<%= t('days.mon') %>">M</th>
				<th scope="col" title="<%= t('days.tue') %>">T</th>
				<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
				<th scope="col" title="<%= t('days.thu') %>">T</th>
				<th scope="col" title="<%= t('days.fri') %>">F</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<%= student_schedule_table_cell '1A', studyplan, semester %>
				<%= student_schedule_table_cell '3A', studyplan, semester %>
				<%= student_schedule_table_cell '5A', studyplan, semester %>
				<%= student_schedule_table_cell '2B', studyplan, semester %>
				<%= student_schedule_table_cell '4B', studyplan, semester %>
			</tr>
			<tr>
				<%= student_schedule_table_cell '2A', studyplan, semester %>
				<%= student_schedule_table_cell '4A', studyplan, semester %>
				<%= student_schedule_table_cell '5B', studyplan, semester %>
				<%= student_schedule_table_cell '1B', studyplan, semester %>
				<%= student_schedule_table_cell '3B', studyplan, semester %>
			</tr>
		</tbody>
	</table>
	<h3><%= week3 %>: <%= student_schedule_week_course(studyplan, semester)%></h3>
<% end %>
<h2><%= t('.progress') %></h2>
<div class="pointsprogress">
	<span>Naturvidenskabelige grundfag</span>
	<div class="basic" style="width:<%= ects_points_block_percentage(@student.basic_points) %>%"><%= "%g" % @student.basic_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Teknologiske linjefag</span>
	<div class="main" style="width:<%= ects_points_block_percentage(@student.main_points) %>%"><%= "%g" % @student.main_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Projekter og almene fag</span>
	<div class="project" style="width:<%= ects_points_block_percentage(@student.project_points) %>%"><%= "%g" % @student.project_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Valgfag</span>
	<div class="optional" style="width:<%= ects_points_block_percentage(@student.optional_points) %>%"><%= "%g" % @student.optional_points %> <%= t('.points') %></div>
</div>

<p style="font-size:125%"><%= t('.atotal') %> <strong><%= "%g" % @student.total_points %> <%= t('.ects') %></strong> <%= t('.outof') %> <%= Student::TOTAL_ECTS_GOAL %>.</p>
<% else %>
<p id="uninotice"><%= t('.youhaveto') %> <a href="/login"><%= t('.login') %></a> <%= t('.inorderto') %></p>
<% end %>