<%
	title t('.studyplan')

	if !current_student.nil? then
		goal_points  = 
		total_points =	@student.basic_points + 
						@student.main_points + 
						@student.project_points + 
						@student.optional_points
	end
	
%>
<h1><%= t('.studyplan') %></h1>
<% if !current_student.nil? %>
<p><%= t('.intro1') %> 
	<% selected = params[:semester].nil? ? "All semesters" : "#{params[:semester]}. semester" %>
	<%= select_tag "semester", options_for_select(@max_semester.times.map {|i| "#{i + 1}. semester"}.push("All semesters"), :selected => selected) %>
	<%= t('.intro2') %>:
</p>
<h2>Kursuskurv</h2>
<ul>
<% @student.studyplan_items.each do |s| %>
	<li><%= s.course.title %></li>
<% end %>
</ul>
<% @studyplans.each_with_index do |studyplan, i| %>

<% 
		semester = params[:semester].nil? ? @max_semester - i : @semester
		season   = semester % 2 == 0 ? t('seasons.spring') : t('seasons.autumn')
%>
	<h2><%= semester%>. semester <em class="subtle">(<%= season %>)</em></h2>
	<table class="schedule yourschedule hyphenate">
		<thead>
			<tr>
				<th scope="col" title="<%= t('days.mon') %>">M</th>
				<th scope="col" title="<%= t('days.tue') %>">T</th>
				<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
				<th scope="col" title="<%= t('days.thu') %>">T</th>
				<th scope="col" title="<%= t('days.fri') %>">F</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<%= student_schedule_table_cell '1A', studyplan, semester %>
				<%= student_schedule_table_cell '3A', studyplan, semester %>
				<%= student_schedule_table_cell '5A', studyplan, semester %>
				<%= student_schedule_table_cell '2B', studyplan, semester %>
				<%= student_schedule_table_cell '4B', studyplan, semester %>
			</tr>
			<tr>
				<%= student_schedule_table_cell '2A', studyplan, semester %>
				<%= student_schedule_table_cell '4A', studyplan, semester %>
				<%= student_schedule_table_cell '5B', studyplan, semester %>
				<%= student_schedule_table_cell '1B', studyplan, semester %>
				<%= student_schedule_table_cell '3B', studyplan, semester %>
			</tr>
		</tbody>
	</table>
	<h3>January: <%= student_schedule_week_course(semester)%></h3>
<% end %>
<h2><%= t('.progress') %></h2>
<div class="pointsprogress">
	<span>Naturvidenskabelige grundfag</span>
	<div class="basic" style="width:<%= ects_points_block_percentage(@student.basic_points) %>%"><%= "%g" % @student.basic_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Teknologiske linjefag</span>
	<div class="main" style="width:<%= ects_points_block_percentage(@student.main_points) %>%"><%= "%g" % @student.main_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Projekter og almene fag</span>
	<div class="project" style="width:<%= ects_points_block_percentage(@student.project_points) %>%"><%= "%g" % @student.project_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Valgfag</span>
	<div class="optional" style="width:<%= ects_points_block_percentage(@student.optional_points) %>%"><%= "%g" % @student.optional_points %> <%= t('.points') %></div>
</div>

<p style="font-size:125%"><%= t('.atotal') %> <strong><%= "%g" % total_points %> <%= t('.ects') %></strong> <%= t('.outof') %> <%= StudyplanHelper::TOTAL_ECTS_GOAL %>.</p>
<% else %>
<p id="uninotice"><%= t('.youhaveto') %> <a href="/login"><%= t('.login') %></a> <%= t('.inorderto') %></p>
<% end %>