<%
	title t('.studyplan')

	if !current_student.nil? then
		goal_points  = 
		total_points =	@student.basic_points + 
						@student.main_points + 
						@student.project_points + 
						@student.optional_points
	end
	
%>
<h1><%= t('.studyplan') %></h1>
<% if !current_student.nil? %>
<p><%= t('.intro1') %> 
	<select><option>Lol semester</option></select> <%= t('.intro2') %>:</p>
<% @student.semester.times do |i|
		semester = i + 1 
		season   = semester % 2 == 0 ? t('seasons.spring') : t('seasons.autumn')
%>
	<h2><%= semester%>. semester <em class="subtle">(<%= season %>)</em></h2>
	<table class="schedule yourschedule hyphenate">
		<thead>
			<tr>
				<th scope="col" title="<%= t('days.mon') %>">M</th>
				<th scope="col" title="<%= t('days.tue') %>">T</th>
				<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
				<th scope="col" title="<%= t('days.thu') %>">T</th>
				<th scope="col" title="<%= t('days.fri') %>">F</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<%= student_schedule_table_cell '1A', semester %>
				<%= student_schedule_table_cell '3A', semester %>
				<%= student_schedule_table_cell '5A', semester %>
				<%= student_schedule_table_cell '2B', semester %>
				<%= student_schedule_table_cell '4B', semester %>
			</tr>
			<tr>
				<%= student_schedule_table_cell '2A', semester %>
				<%= student_schedule_table_cell '4A', semester %>
				<%= student_schedule_table_cell '5B', semester %>
				<%= student_schedule_table_cell '1B', semester %>
				<%= student_schedule_table_cell '3B', semester %>
			</tr>
		</tbody>
	</table>
<% end %>
<!-- <% if not @student.field_of_study.nil? %>
	<% @student.courses.each do |c| %>
		<% if c.is_basic_course(@student) %>
			<p style="color: red">
		<% elsif c.is_main_course(@student) %>
			<p style="color: blue">
		<% elsif c.is_project_course(@student) %>
			<p style="color: yellow">
		<% else %>
			<p style="color: gray">
		<% end %>
		<%= "#{c.course_no} - #{c.title}" %></p>
	<% end %>
<% else %>
<p><%= @student.courses.map(&:title).join("</p><p>").html_safe %></p>
<% end %> -->

<h2><%= t('.progress') %></h2>
<div class="pointsprogress">
	<span>Naturvidenskabelige grundfag</span>
	<div class="basic" style="width:<%= ects_points_block_percentage(@student.basic_points) %>%"><%= "%g" % @student.basic_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Teknologiske linjefag</span>
	<div class="main" style="width:<%= ects_points_block_percentage(@student.main_points) %>%"><%= "%g" % @student.main_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Projekter og almene fag</span>
	<div class="project" style="width:<%= ects_points_block_percentage(@student.project_points) %>%"><%= "%g" % @student.project_points %> <%= t('.points') %></div>
</div>

<div class="pointsprogress">
	<span>Valgfag</span>
	<div class="optional" style="width:<%= ects_points_block_percentage(@student.optional_points) %>%"><%= "%g" % @student.optional_points %> <%= t('.points') %></div>
</div>

<p style="font-size:125%"><%= t('.atotal') %> <strong><%= "%g" % total_points %> <%= t('.ects') %></strong> <%= t('.outof') %> <%= StudyplanHelper::TOTAL_ECTS_GOAL %>.</p>
<% else %>
<p id="uninotice"><%= t('.youhaveto') %> <a href="/login"><%= t('.login') %></a> <%= t('.inorderto') %></p>
<% end %>