<% title t('.studyplan') %>
<h1><%= t('.studyplan') %></h1>
<p><%= t('.intro1') %> <select><option>Lol semester</option></select> <%= t('.intro2') %>:</p>

<!-- <p>Dine kurser: </p>
<%#= "is project course: #{Course.find_by_course_number(02122).is_project_course(@student)}" %>

<ul>
<% @student.current_courses.each do |c| %>
	<li><%= c.schedule %> <%= c.schedules %></li>
<% end %>
</ul> -->
<% if not @student.field_of_study.nil? %>
<% @student.courses.each do |c| %>
	<% if c.is_basic_course(@student) %>
		<p style="color: red">
	<% elsif c.is_main_course(@student) %>
		<p style="color: blue">
	<% elsif c.is_project_course(@student) %>
		<p style="color: yellow">
	<% else %>
		<p style="color: gray">
	<% end %>
	<%= "#{c.course_no} - #{c.title}" %></p>
<% end %>
<% else %>
<p><%= @student.courses.map(&:title).join("</p><p>").html_safe %></p>
<% end %>