<h1>Listing courses</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Dansk</th>
    <th>English</th>
		<th colspan="3">Admin</th>
  </tr>

<% @keywords.each do |keyword| %>
  <tr>
    <td><%= keyword.title %></td>
		<td><%= keyword.title(:da) %></td>
		<td><%= keyword.title(:en) %></td>
    <td><%= link_to 'Show', keyword %></td>
    <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
    <td><%= link_to 'Destroy', keyword, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keyword', new_keyword_path %>
