<h1><%= @keyword.title %></h1>
<p>
	Dansk:
	<%= @keyword.title(:da) %>
</p>
	
<p>
	English:
	<%= @keyword.title(:en) %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %>
<%= link_to 'Destroy', @keyword, confirm: 'Are you sure?', method: :delete %>