<h1>Listing courses</h1>

<table>
  <tr>
    <th>Course number</th>
    <th>Title</th>
    <th>Language</th>
    <th>Ects points</th>
    <th>Open education</th>
    <th>Schedule</th>
    <th>Teaching form</th>
    <th>Duration</th>
    <th>Participant limit</th>
    <th>Course objectives</th>
    <th>Learn objectives</th>
    <th>Content</th>
    <th>Litteratur</th>
    <th>Institute</th>
    <th>Registration</th>
    <th>Homepage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.course_number %></td>
    <td><%= course.title %></td>
    <td><%= course.language %></td>
    <td><%= course.ects_points %></td>
    <td><%= course.open_education %></td>
    <td><%= course.schedule %></td>
    <td><%= course.teaching_form %></td>
    <td><%= course.duration %></td>
    <td><%= course.participant_limit %></td>
    <td><%= course.course_objectives %></td>
    <td><%= course.learn_objectives %></td>
    <td><%= course.content %></td>
    <td><%= course.litteratur %></td>
    <td><%= course.registration %></td>
    <td><%= course.homepage %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
