<% title t('.allcourses') %>
<h1><%= t('.allcourses') %></h1>

<table class="courses">
	<thead>
		<tr>
			<th scope="col" class="no"><%= t('.nonono') %></th>
			<th scope="col" class="title"><%= t('.title') %></th>
			<th scope="col" class="points"><%= t('.points') %></th>
		</tr>
	</thead>
	<tbody>
<%
	@courses.each do |course|

%>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="no"><%= course.course_no %></td>
			<td class="title"><%= link_to course.title, course %></td>
			<td class="points"><%= "%g" % course.ects_points %></td>

<%#
    #<td><%= link_to 'Edit', edit_course_path(course) % ></td>
    #<td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete % ></td>
%>
		</tr>
<%
	end
%>
	</tbody>
</table>

<br />

<%#= link_to 'New Course', new_course_path %>
