<% if params[:search] %>
	<% title t('.courses') %>
	<h1><%= t('.courses') %></h1>
<% else %>
	<% title t('.allcourses') %>
	<h1><%= t('.allcourses') %></h1>
<% end %>

<table class="courses">
	<thead>
		<tr>
			<th scope="col" class="no"><%= t('.nonono') %></th>
			<th scope="col" class="title"><%= t('.title') %></th>
			<th scope="col" class="points"><%= t('.points') %></th>
		</tr>
	</thead>
	<tbody>
		
<% if !current_student.nil? %>
	<!-- COURSE RECOMMENDATIONS -->
	<% if not current_student.recommended_courses.empty? %>
		<% current_student.recommended_courses.each do |course| %>
			<tr class="<%= cycle("odd", "even") %>">
				<td class="no"><%= course.course_no %></td>
				<td class="title"><%= link_to course.title, course %></td>
				<td class="points"><%= "%g" % course.ects_points %></td>
			</tr>
		<% end %>
	<% end %>
<% else %>

<% @courses.each do |course| %>
		<tr class="<%= cycle("odd", "even") %>">
			<td class="no"><%= course.course_no %></td>
			<td class="title"><%= link_to course.title, course %></td>
			<td class="points"><%= "%g" % course.ects_points %></td>
		</tr>
<% end %>
	</tbody>
</table>
<% end %>

<br />
