<h1>All courses</h1>

<table class="courses">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Title</th>
			<th scope="col">Points</th>
		</tr>
	</thead>
	<tbody>
<%
	@courses.each do |course|

%>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= course.course_no %></td>
			<td><%= link_to course.title, course %></td>
			<td><%= "%g" % course.ects_points %></td>

<%#
    #<td><%= link_to 'Edit', edit_course_path(course) % ></td>
    #<td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete % ></td>
%>
		</tr>
<%
	end
%>
	</tbody>
</table>

<br />

<%#= link_to 'New Course', new_course_path %>
