<% # encoding: utf-8 

	# Value preparations
	@course.serialize_objectives
	schedule_details  = determine_unusual_schedule(@course)
	display_schedule  = has_schedule(@course, schedule_details)
	course_seasons    = season_text(@course)
	
	
	# Page title
	title "#{@course.course_no} #{@course.title}" 
	
%>
<% if notice %><p id="notice"><%= notice %></p><% end %>
<div id="coursehead">
	<h1><span class="coursenumber"><%= @course.course_no %> </span><%= @course.title %></h1>
	<h2 class="altlang"><%= @course.title alt_language %></h2>
	<h2 class="pointdata"><strong><%= "%g" % @course.ects_points %> <%= t('.points') %><% if course_seasons.present? %>, <%= course_seasons %><% end %></strong> (<%= @course.duration %><%#= t('.weeks') %>)</h2>
	<h3><% @course.main_course_types.each do |mct| %><%= mct.title %>, <% end %><%= t('languages.' + @course.language.downcase) %></h3>
<% if @course.open_education %>
	<p><%= t('.openedu') %></p>
<% end %>
<%= @schedule_details %>
	<div id="courseschedule">
<% if display_schedule %>
		<table>
			<thead>
				<tr>
					<th scope="col" title="<%= t('days.mon') %>">M</th>
					<th scope="col" title="<%= t('days.tue') %>">T</th>
					<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
					<th scope="col" title="<%= t('days.thu') %>">T</th>
					<th scope="col" title="<%= t('days.fri') %>">F</th>
				</tr>
			</thead>
			<tbody>
				<%= schedule_outer_cells :top, schedule_details %>
				<tr class="top">
					<%= schedule_table_cell '1A', schedule_details %>
					<%= schedule_table_cell '3A', schedule_details %>
					<%= schedule_table_cell '5A', schedule_details %>
					<%= schedule_table_cell '2B', schedule_details %>
					<%= schedule_table_cell '4B', schedule_details %>
				</tr>
				<tr class="bottom">
					<%= schedule_table_cell '2A', schedule_details %>
					<%= schedule_table_cell '4A', schedule_details %>
					<%= schedule_table_cell '5B', schedule_details %>
					<%= schedule_table_cell '1B', schedule_details %>
					<%= schedule_table_cell '3B', schedule_details %>
				</tr>
				<%= schedule_outer_cells :bottom, schedule_details %>
			</tbody>
		</table>
<% end %>
<% #Process.exit #DEBUG %>
<% if @course.exam_schedule %>
		<p><%= t('.examdate') %> <strong><%= @course.exam_schedule %></strong></p>
<% end %>
	</div>
</div>

<div id="courseinfo">
<% if @course.top_comment %>
	<div id="topcomment"><%= @course.top_comment %></div>
<% end %>
<dl class="section">
	<%# COURSE TEXT ----------------------------------------------------------- %>
	<dt><%= t('.cobjectives') %></dt>
		<dd class="maininfo"><%= @course.course_objectives %></dd>
	<dt><%= t('.content') %></dt>
		<dd><%= @course.content %></dd>
	<% if @course.learn_objectives %>
		<dt><%= t('.lobjectives') %></dt>
		<dd>
			<p>En studerende, der fuldt ud har opfyldt kursets mål, vil kunne:</p>
			<ul>
	  		<% @course.learn_objectives.each do |lo| %>
					<li><%= lo %></li>
				<% end %>
			</ul>
		</dd>
	<% end %>
	<dt><%= t('.form') %></dt>
		<dd><%= @course.teaching_form %></dd>
	<% if !@course.keywords.empty? %>
	<dt><%= t('.keywords') %></dt>
		<dd>
			<% @course.keywords.each do |k| 
				if k.respond_to? :title %>
			<%= k.title %><%= ', ' if k != @course.keywords.last%>
			<% 	end
			end %>
		</dd>
	<% end %>
	<% if @course.homepage %>
	<dt><%= t('.homepage') %></dt>
		<dd><%= link_to @course.homepage, @course.homepage %></dd>
	<% end %>
</dl>
<dl class="section">
	<%# COURSE DATA ----------------------------------------------------------- %>
	<dt><%= t('.schedule') %></dt>
		<dd><% 
		
		if @course.schedule.blank? %><%= 
			@course.schedule_note 
		%><% 
		else %><%= @course.schedule %><% 
			if @course.schedule_note.present? %><br><%= 
				@course.schedule_note.strip %><% 
			end %><% end %></dd>
	<dt><%= t('.responsible') %></dt>
		<dd>
			<ul class="persons">
			<% @course.teachers.each do |t| %>
				<li>
					<a href="<%= t.link %>"><%= t.name %><%= image_tag(t.image(24), :width => 24, :height => 32) %></a>
				<% if !t.location.nil? %>
					<%= t.location %>
				<% end %>
				<% if !t.phone.nil? %>
					<%= t.phone %>
				<% end %>
				<% if !t.email.nil? %>
					<%= t.email %>
				<% end %>
				</li>
			<% end %>
			</ul>
		</dd>
		
	<% if @course.qualification_courses.present? %>
	<dt><%= t('.qprerequisites') %></dt>
		<dd>
		<%= display_course_list(@course.qualification_courses) %>
		</dd>
	<% end %>
	<% if @course.optional_courses.present? %>
	<dt><%= t('.oprerequisites') %></dt>
		<dd>
		<%= display_course_list(@course.optional_courses) %>
		</dd>
	<% end %>
	<% if @course.mandatory_courses.present? %>
	<dt><%= t('.mprerequisites') %></dt>
		<dd>
		<%= display_course_list(@course.mandatory_courses) %>
		</dd>
	<% end %>
	<% if @course.participant_limit %>
	<dt><%= t('.limit') %></dt>
		<dd><%= @course.participant_limit %></dd>
	<% end %>
	<% if @course.blocked_courses.present? %>
	<dt><%= t('.pointblock') %></dt>
		<dd>
			<%= display_course_list(@course.blocked_courses) %>
		</dd>
	<% end %>
	
	<%# COURSE RESOURCES ------------------------------------------------------ %>
	<% if @course.litteratur %>
	<dt><%= t('.literature') %></dt>
		<dd><%= @course.litteratur %></dd>
	<% end %>
	<dt><%= t('.institute') %></dt>
		<dd><%= @course.institute.display %></dd>
	<dt><%= t('.registration') %></dt>
		<dd><%= @course.registration %></dd>
</dl>
<dl>
	<dt>&nbsp;</dt>
		<dd><a href="http://www.kurser.dtu.dk/<%= @course.course_no %>.aspx?menulanguage=<%= I18n.locale %>"><%= t('.oldpage') %> &rarr;</a></dd>
</dl>
</div>

<div id="courserec">
	
	<div id="courseplan" class="top">
		<% if not current_student.nil? %>
			<h3><%= t('.you') %></h3>
			<% if current_student.has_planned @course %>
			<p><%= t('.inbasket') %>.</p>
			<%= link_to 'Delete', @studyplan_item, confirm: "Are you sure you want to remove #{@course.title} from your Kursuskurv?" , method: :delete, :class => 'button' %> 
			<% elsif false # bestået kurset %>
			<p><%= t('.passedcourse')%></p>
			<% elsif current_student.has_participated @course %>
			<p><%= t('.enrolledcourse')%></p>
			<% else %>
				<%= simple_form_for(StudyplanItem.new) do |f| %>
					<%= f.input :course_id, :as => :hidden, :input_html => { :value => @course.id } %>
					<%= f.button :submit, t('.addto') %>
				<% end %>
			<% end %>
			
			
		<% else%>
			
		<% end %>
	</div>
	
	<% if not @course.similar_courses.empty? %>
	<h3><%= t('.rechead') %></h3>
	<ul>
	<% @course.similar_courses.each do |key, sim_course| %>
		<% if not current_student or current_student.should_be_recommended sim_course %>
			<li>
				<% if sim_course.active %><%= link_to "#{sim_course.course_no} #{sim_course.title}", sim_course %><% else %><%= sim_course.course_no %><% end %>
				<br><%= key %> <%= t('.havealsotaken') %>
			</li>
		<% end %>
	<% end %>
	</ul>
	<% end %>
	
	<% if not @course.prereq_for.empty? %>
	<h3><%= t('.prereqhead') %></h3>
	<ul>
	<% @course.prereq_for.each do |rec_course| %>
		<% if not current_student or current_student.should_be_recommended rec_course %>
			<li>
			<% if rec_course.active %>
				<%= link_to "#{rec_course.course_no} #{rec_course.title}", rec_course %>
			<% else %>
				<%= rec_course.course_no %>
			<% end %>
			</li>
			<% end %>
		<% end %>
	</ul>
	<% end %>	
</div>
<div class="cb"></div>
