<p id="notice"><%= notice %></p>

<h1><%= @course.course_no %> <%= @course.title %></h1>
<hr />
<table id="course-table">
	<tr>
		<td><strong>Language:</strong></td>
		<td><%= @course.language %></td>
	</tr>
	<tr>
		<td><strong>Ects point:</strong></td>
		<td><%= @course.ects_points %></td>
	</tr>
	<tr>
		<td><strong>Kursustype</strong></td>
		<td><%# Course types @course.open_education%></td>
	</tr>
	<tr style="border-bottom: 2px solid black">
		<td><strong>Schedule:</strong></td>
		<td><%= @course.schedule %></td>
	</tr>
	<tr>
		<td><strong>Teaching form:</strong></td>
		<td><%= @course.teaching_form %></td>
	</tr>
	<tr>
		<td><strong>Duration:</strong></td>
		<td><%= @course.duration %></td>
	</tr>
	<% if @course.participant_limit %>
		<tr>
			<td><strong>Participant limit:</strong></td>
			<td><%= @course.participant_limit %></td>
		</tr>
	<% end %>
	<tr>
		<td><strong>Course objectives:</strong></td>
		<td><%= @course.course_objectives %></td>
	</tr>
	<tr>
		<td><strong>Learn objectives:</strong></td>
		<td>
			<ul>
	  		<% @learn_objectives.each do |lo| %>
					<li><%= lo %></li>
				<% end %>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Content:</strong></td>
		<td><%= @course.content %></td>
	</tr>
	<tr>
		<td><strong>Litteratur:</strong></td>
		<td><%= @course.litteratur %></td>
	</tr>
	<tr>
		<td><strong>Kursusansvarlig:</strong></td>
		<td>
			<% @course.teachers.each do |t| %>
				<%= link_to t.name, t.link, :target => '_blank' %><%= ', ' if t != @course.teachers.last %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><strong>Institute:</strong></td>
		<td><%= @course.institute.display %></td>
	</tr>
	<tr>
		<td><strong>Registration:</strong></td>
		<td><%= @course.registration %></td>
	</tr>
	<tr>
		<td><strong>Homepage:</strong></td>
		<td><%= @course.homepage %></td>
	</tr>
	<tr>
		<td><strong>Keywords:</strong></td>
		<td>
			<% if !@course.keywords.empty?%>
				<% @course.keywords.each do |k| %>
					<%= k.keyword %><%= ', ' if k != @course.keywords.last%>
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><strong>Admin:</strong></td>
		<td>
			<%= link_to 'Edit', edit_course_path(@course) %> |
			<%= link_to 'Back', courses_path %>
		</td>
	</tr>
	
</table>