# encoding: utf-8

<% @course.serialize_objectives %>
<p id="notice"><%= notice %></p>
<div id="coursehead">
	<h1><span class="coursenumber"><%= @course.course_no %> </span><%= @course.title %></h1>
	<h2 class="altlang"><%= @course.title alt_language %></h2>
	<h2 class="pointdata"><strong><%= "%g" % @course.ects_points %> <%= t('.points') %>, <%= @course.season %></strong> (<%= @course.duration %><%#= t('.weeks') %>)</h2>
	<h3><% @course.main_course_types.each do |mct| %>
		<%= mct.title %><%= ', ' if mct != @course.main_course_types.last %>, 
	<% end %>
	<%= t('languages.' + @course.language.downcase) %></h3>
<% if @course.open_education %>
	<p><%= t('.openedu') %></p>
<% end %>
	<div id="courseschedule">
		<table>
			<thead>
				<tr>
					<th scope="col" title="<%= t('days.mon') %>">M</th>
					<th scope="col" title="<%= t('days.tue') %>">T</th>
					<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
					<th scope="col" title="<%= t('days.thu') %>">T</th>
					<th scope="col" title="<%= t('days.fri') %>">F</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1A</td>
					<td>3A</td>
					<td>5A</td>
					<td>2B</td>
					<td>4B</td>
				</tr>
				<tr>
					<td>2A</td>
					<td>4A</td>
					<td>5B</td>
					<td>1B</td>
					<td>3B</td>
				</tr>
			</tbody>
		</table>
		<p><%= t('.examdate') %> <strong>F1B og E1B</strong></p>
	</div>
</div>

<dl class="section">
<% if @course.top_comment %>
	<dt>Kommentar</dt>
		<dd><%= @course.top_comment  %></dd>
<% end %>
</dl>


<table id="course-table">
	<tr style="border-bottom: 2px solid black">
		<td><strong>Schedule:</strong></td>
		<td><%= @course.schedule %></td>
	</tr>
	<tr>
		<td><strong>Teaching form:</strong></td>
		<td><%= @course.teaching_form %></td>
	</tr>
	<tr>
		<td><strong>Duration:</strong></td>
		<td><%= @course.duration %></td>
	</tr>
	<% if @course.blocked_courses.count > 0 %>
	<tr>
		<td><strong>Point blocks</strong></td>
		<td>
		<% @course.blocked_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.blocked_courses.last %>,<% end %>
		<% end%>
		</td>
	</tr>
	<% end %>
	<% if @course.qualification_courses.count > 0 %>
	<tr>
		<td><strong>Qualificatied prerequisites</strong></td>
		<td>
		<% @course.qualification_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.qualification_courses.last %>, <% end %>
		<% end %>
		</td>
	</tr>
	<% end %>
	<% if @course.optional_courses.count > 0 %>
	<tr>
		<td><strong>Optional prerequisites</strong></td>
		<td>
		<% @course.optional_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.optional_courses.last %>,<% end %>
		<% end %>
		</td>
	</tr>
	<% end %>
	<% if @course.mandatory_courses.count > 0 %>
	<tr>
		<td><strong>Mandatory prerequisites</strong></td>
		<td>
		<% @course.mandatory_courses.each do |bc| %>
			<%= bc.course_no %>
		<% end %>
		</td>
	</tr>
	<% end %>
	<% if @course.participant_limit %>
		<tr>
			<td><strong>Participant limit:</strong></td>
			<td><%= @course.participant_limit %></td>
		</tr>
	<% end %>
	<tr>
		<td><strong>Course objectives:</strong></td>
		<td><%= @course.course_objectives %></td>
	</tr>
	<tr>
		<td><strong>Learn objectives:</strong></td>
		<td>
			<ul>
	  		<% @course.learn_objectives.each do |lo| %>
					<li><%= lo %></li>
				<% end %>
			</ul>
		</td>
	</tr>
	<tr>
		<td><strong>Content:</strong></td>
		<td><%= @course.content %></td>
	</tr>
	<% if @course.litteratur %>
		<tr>
			<td><strong>Litteratur:</strong></td>
			<td><%= @course.litteratur %></td>
		</tr>
	<% end %>
	<tr>
		<td><strong>Kursusansvarlig:</strong></td>
		<td>
			<% @course.teachers.each do |t| %>
				<%= link_to (image_tag(t.image(70), :border => 0)), t.link, :target => '_blank' %><%= ', ' if t != @course.teachers.last %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><strong>Institute:</strong></td>
		<td><%= @course.institute.display %></td>
	</tr>
	<tr>
		<td><strong>Registration:</strong></td>
		<td><%= @course.registration %></td>
	</tr>
	<% if @course.homepage %>
		<tr>
			<td><strong>Homepage:</strong></td>
			<td><%= link_to @course.homepage, @course.homepage %></td>
		</tr>
	<% end %>
	<% if !@course.keywords.empty? %>
		<tr>
			<td><strong>Keywords:</strong></td>
			<td>
					<% @course.keywords.each do |k| 
						if k.respond_to? :title %>
							<%= k.title %><%= ', ' if k != @course.keywords.last%>
					<% 	end
					end %>
			</td>
		</tr>
	<% end %>	
</table>

<div id="qualifications">
	<h3>This course is a prerequisite for these courses:</h3>
	<ul style="list-style: none;">
	<% @course.recommended_courses.each do |rec_course| %>
		<li>
		<% if rec_course.active %>
			<%= link_to rec_course.course_no, rec_course %>
		<% else %>
			<%= rec_course.course_no %>
		<% end %>
		</li>
		<% end %>
	</ul>
</div>
<div id="has-also-taken">
	<h3>People who has taken this course has also taken these courses:</h3>
	<ul style="list-style: none">
	<% @course.similar_courses.each do |key, sim_course| %>
		<li>
			<% if sim_course.active %>
				<%= link_to sim_course.course_no, sim_course %> - <%= "#{key} has taken this course" %>
			<% else %>
				<%= sim_course.course_no %> - <%= "#{key} has taken this course" %>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>

<h3><%= link_to "... på kurser.dtu.dk", "http://www.kurser.dtu.dk/#{@course.course_no}.aspx?menulanguage=da", :target => "_blank" %></h3>
