<% # encoding: utf-8 

	# Value preparations
	title "#{@course.course_no} #{@course.title}" 
	has_schedule = ( @course.duration != "[Kurset følger ikke DTUs normale skemastruktur]" )
	
	@course.serialize_objectives
%>
<% if notice %><p id="notice"><%= notice %></p><% end %>
<div id="coursehead">
	<h1><span class="coursenumber"><%= @course.course_no %> </span><%= @course.title %></h1>
	<h2 class="altlang"><%= @course.title alt_language %></h2>
	<h2 class="pointdata"><strong><%= "%g" % @course.ects_points %> <%= t('.points') %>, <%= season_text %></strong> (<%= @course.duration %><%#= t('.weeks') %>)</h2>
	<h3><% @course.main_course_types.each do |mct| %><%= mct.title %>, <% end %><%= t('languages.' + @course.language.downcase) %></h3>
<% if @course.open_education %>
	<p><%= t('.openedu') %></p>
<% end %>
	<div id="courseschedule">
<% if has_schedule %>
		<table>
			<thead>
				<tr>
					<th scope="col" title="<%= t('days.mon') %>">M</th>
					<th scope="col" title="<%= t('days.tue') %>">T</th>
					<th scope="col" title="<%= t('days.wed') %>"><%= t('days.o') %></th>
					<th scope="col" title="<%= t('days.thu') %>">T</th>
					<th scope="col" title="<%= t('days.fri') %>">F</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<%= schedule_table_cell('1A') %>
					<%= schedule_table_cell('3A') %>
					<%= schedule_table_cell('5A') %>
					<%= schedule_table_cell('2B') %>
					<%= schedule_table_cell('4B') %>
				</tr>
				<tr>
					<%= schedule_table_cell('2A') %>
					<%= schedule_table_cell('4A') %>
					<%= schedule_table_cell('5B') %>
					<%= schedule_table_cell('1B') %>
					<%= schedule_table_cell('3B') %>
				</tr>
			</tbody>
		</table>
<% end %>
<% if @course.exam_schedule %>
		<p><%= t('.examdate') %> <strong><%= @course.exam_schedule %></strong></p>
<% end %>
	</div>
</div>

<div id="courseinfo">
<% if @course.top_comment %>
	<div id="topcomment"><%= @course.top_comment %></div>
<% end %>
<dl class="section">

	<dt><%= t('.schedule') %></dt>
		<dd><% if @course.schedule.nil? %><%= @course.schedule_note %><% else %><%= @course.schedule %><br><%= @course.schedule_note %><% end %></dd>
	<dt><%= t('.form') %></dt>
		<dd><%= @course.teaching_form %></dd>
	<% if @course.blocked_courses.count > 0 %>
	<dt><%= t('.pointblock') %></dt>
		<dd>
		<% @course.blocked_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.blocked_courses.last %>,<% end %>
		<% end%>
		</dd>
	<% end %>
	<% if @course.qualification_courses.count > 0 %>
	<dt><%= t('.qprerequisites') %></dt>
		<dd>
		<% @course.qualification_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.qualification_courses.last %>, <% end %>
		<% end %>
		</dd>
	<% end %>


	<% if @course.optional_courses.count > 0 %>
		<dt><%= t('.oprerequisites') %></dt>
		<dd>
		<% @course.optional_courses.each do |bc| %>
			<%= bc.course_no %><% if bc != @course.optional_courses.last %>,<% end %>
		<% end %>
		</dd>
	<% end %>
	<% if @course.mandatory_courses.count > 0 %>
	
	<dt><%= t('.mprerequisites') %></dt>
		<dd>
		<% @course.mandatory_courses.each do |bc| %>
			<%= bc.course_no %>
		<% end %>
		</dd>
	
	<% end %>
	<% if @course.participant_limit %>
		
			<dt><%= t('.limit') %></dt>
			<dd><%= @course.participant_limit %></dd>
		
	<% end %>
	
		<dt><%= t('.cobjectives') %></dt>
		<dd><%= @course.course_objectives %></dd>
	
	<% if @course.learn_objectives %>
		<dt><%= t('.lobjectives') %></dt>
		<dd>
			<p>En studerende, der fuldt ud har opfyldt kursets mål, vil kunne:</p>
			<ul>
	  		<% @course.learn_objectives.each do |lo| %>
					<li><%= lo %></li>
				<% end %>
			</ul>
		</dd>
	<% end %>
	
	
		<dt><%= t('.content') %></dt>
		<dd><%= @course.content %></dd>
	
	<% if @course.litteratur %>
		
			<dt><%= t('.literature') %></dt>
			<dd><%= @course.litteratur %></dd>
		
	<% end %>
	
	<dt><%= t('.responsible') %></dt>
		<dd>
			<% @course.teachers.each do |t| %>
				<%= link_to (image_tag(t.image(70), :width => 70, :height => 93)), t.link, :target => '_blank' %><%= ', ' if t != @course.teachers.last %>
			<% end %>
		</dd>
	
	
	<dt><%= t('.institute') %></dt>
		<dd><%= @course.institute.display %></dd>
	
	
	<dt><%= t('.registration') %></dt>
		<dd><%= @course.registration %></dd>
	
	<% if @course.homepage %>
		
	<dt><%= t('.homepage') %></dt>
			<dd><%= link_to @course.homepage, @course.homepage %></dd>
		
	<% end %>
	<% if !@course.keywords.empty? %>
	<dt><%= t('.keywords') %></dt>
			<dd>
					<% @course.keywords.each do |k| 
						if k.respond_to? :title %>
							<%= k.title %><%= ', ' if k != @course.keywords.last%>
					<% 	end
					end %>
			</dd>
		
	<% end %>
</dl>
</div>

<div id="courserec">
	
	<p class="top">

	</p>
	
	<% if not @course.similar_courses.empty? %>
	<h3>People who has taken this course has also taken these courses:</h3>
	<ul>
	<% @course.similar_courses.each do |key, sim_course| %>
		<% if not current_student or current_student.should_be_recommended sim_course %>
			<li>
				<% if sim_course.active %>
					<%= link_to sim_course.course_no, sim_course %> - <%= "#{key} has taken this course" %>
				<% else %>
					<%= sim_course.course_no %> - <%= "#{key} has taken this course" %>
				<% end %>
			</li>
		<% end %>
	<% end %>
	</ul>
	<% end %>
	
	<% if not @course.prereq_for.empty? %>
	<h3>This course is a prerequisite for these courses:</h3>
	<ul>
	<% @course.prereq_for.each do |rec_course| %>
		<% if not current_student or current_student.should_be_recommended rec_course %>
			<li>
			<% if rec_course.active %>
				<%= link_to rec_course.course_no, rec_course %>
			<% else %>
				<%= rec_course.course_no %>
			<% end %>
			</li>
			<% end %>
		<% end %>
	</ul>
	<% end %>	
</div>

<h3 style="clear:both"><%= link_to "... på kurser.dtu.dk", "http://www.kurser.dtu.dk/#{@course.course_no}.aspx?menulanguage=da", :target => "_blank" %></h3>
