<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="container">
			<div id="head"><div>
				<h1><a href="/"><span>DTU Kursusbase</span></a></h1>
				<%= render_navigation %>
				<form action="/search" method="get">
					<input type="text" name="q" value="">
				</form>
			</div></div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
