<%
	site_title = "DTU Kursusbasen"
	page_title = yield(:title)
	
	title = (!page_title.blank? ? page_title + " | " + site_title : site_title)	
%>
<!DOCTYPE html>
<html class="home">
<head>
	<title><%= title %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body id="home">
	<div id="container">
		<%= render :partial => "lhbar" %>
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
